<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Translari</title>
</head>
<body>
    <header>
        <nav class="menu">
            <a href="#home">HOME</a>
            <a href="#sobre">QUEM SOMOS</a>
            <a href="#contato">CONTATO</a>
        </nav>
    </header>
    <main>
        <section id="home">
            <div class="container-h1">
                <h1>NOSSOS SERVIÇOS</h1>
            </div>
            
            <div class="container">
                <div class="slide">
                    <div class="item">
                        <div class="content">
                            <div class="name">EXCURSÕES</div>
                            <div class="des">Descubra experiências inesquecíveis! Oferecemos roteiros personalizados e serviços de transporte seguro e confortável para que sua excursão seja perfeita do início ao fim.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="name">TRANSFER AO AEROPORTO</div>
                            <div class="des">Chegue ou saia do aeroporto com total tranquilidade. Nossos transfers são pontuais e eficientes, garantindo que você não perca tempo e tenha uma viagem sem preocupações.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="name">VIAGENS EM FAMÍLIA</div>
                            <div class="des">Crie memórias inesquecíveis com quem você ama. Nossos veículos são ideais para viagens em família, combinando segurança, conforto e espaço para todos, incluindo a bagagem.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="name">MERCADORIAS</div>
                            <div class="des">Seu negócio não pode parar. Oferecemos soluções de transporte de mercadorias confiáveis e rápidas, com a segurança que você precisa para que seus produtos cheguem ao destino em perfeito estado.</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="name">TRANSPORTE ESCOLAR</div>
                            <div class="des">A segurança do seu filho é a nossa prioridade. Conte com nosso serviço de transporte escolar, que garante um trajeto seguro e pontual, com veículos inspecionados e motoristas qualificados.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sobre">
         
            <div class="sobre-conteudo">
               
                <div class="quem-somos-texto">
                    <h2>QUEM SOMOS</h2>
                    <p>
                        TEXTTEXTETXTETXTETXT TEXTTEXTETXTETXTETXT TEXTTEXTETXTETXTETXT
                        TEXTTEXTETXTETXTETXT TEXTTEXTETXTETXTETXT TEXTTEXTETXTETXTETXT
                        TEXTTEXTETXTETXTETXT TEXTTEXTETXTETXTETXT TEXTTEXTETXTETXTETXT
                        TEXTTEXTETXTETXTETXT TEXTTEXTETXTETXTETXT TEXTTEXTETXTETXTETXT
                    </p>
                     <img src="static/van.png" alt="van" id="van">
                </div>
            </div>

          
            <div class="slider-wrapper">
                <div class="slider">
                    <img src="static/img1.jpg" alt="img1" id="img1">
                    <img src="static/img2.jpg" alt="img2" id="img2">
                    <img src="static/img3.jpg" alt="img3" id="img3">
                    <img src="static/img4.jpg" alt="img4" id="img4">
                    <img src="static/img5.jpg" alt="img5" id="img5">
                </div>
                <div class="slider-nav">
                    <a href="#img1"></a>
                    <a href="#img2"></a>
                    <a href="#img3"></a>
                    <a href="#img4"></a>
                    <a href="#img5"></a>
                </div>
            </div>
        </section>
    </main>
    <canvas id="vanCanvas"></canvas>
    <script src="static/script.js"></script>
</body>
</html>